<div id="<%= dom_id message %>">
  <p>
    <strong>Maintext:</strong>
    <%= message.maintext %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= message.img %>
  </p>

  <p>
    <strong>Dopid:</strong>
    <%= message.dopid %>
  </p>

  <p>
    <strong>Mygroup:</strong>
    <%= message.mygroup_id %>
  </p>

</div>
