<div id="<%= dom_id loadfile %>">
  <p>
    <strong>Адрес файл</strong>
    <br/>
    <%= loadfile.lfilename %>
    <br/>
    <strong>Содержимое файла</strong>
    <%=  loadfile['lfilename'].nil? ? "Ошибка загрузки файла":loadfile['lfilename'] %>


  </p>

  <p>
    <strong>Comment:</strong>
    <%= loadfile.comment %>

  </p>

  <p>
    <strong>Группы:</strong>
    <%= @myreg.nil? ? "Ошибка загрузки файла" : @myreg %>
  </p>

</div>
