  <th scope="row"><%= mygroup.iid %></th>
  <td><%= mygroup.username %></td>
  <td><%= mygroup.title %></td>
  <td><%= mygroup.description %></td>
  <td><%= mygroup.countuser %></td>
  <td><%= mygroup.datein %></td>