  <th scope="row"><%= mygroup.iid %></th>
  <td><%= link_to mygroup.username, "https://t.me/#{mygroup.username.delete "@" }" %>
 </td>
  <td><%= mygroup.title %></td>
  <td><%= mygroup.description %></td>
  <td><%= mygroup.dopmygroups.start(mygroup.id) %></td>
  <td><%= mygroup.countuser %></td>
  <td><%= mygroup.datein %></td>