<div id="<%= dom_id mygroup %>">
  <p>
    <strong>Id:</strong>
    <%= mygroup.id %>
  </p>

  <p>
    <strong>Iid:</strong>
    <%= mygroup.iid %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= mygroup.username %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= mygroup.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= mygroup.description %>
  </p>

  <p>
    <strong>Countuser:</strong>
    <%= mygroup.countuser %>
  </p>

  <p>
    <strong>Datein:</strong>
    <%= mygroup.datein %>
  </p>

</div>
