  <th scope="row"><%= mygroup.iid %></th>
  <td><%= link_to mygroup.username, "https://t.me/#{mygroup.username.delete "@" }" %>
 </td>
  <td><%= mygroup.title %></td>
  <td><%= mygroup.description %></td>
  <% unless mygroup.dopmygroup.nil? %>
  <td><%= mygroup.dopmygroup.countuser %></td>
    <% else %>
    <td></td>
    <% end %>
  <td><%= mygroup.countuser %></td>
  <td><%= mygroup.datein %></td>