просмотр доп поля
<div id="<%= dom_id dopmygroup %>">
  <p>
    <strong>Countuser:</strong>
    <%= dopmygroup.countuser %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= dopmygroup.comment %>
  </p>

  <p>
    <strong>Mygroup:</strong>
    <%= dopmygroup.mygroup_id %>
  </p>

  <p>
    <strong>test data:</strong>
    <%= @mygroups %>
  </p>



</div>
