<p style="color: green"><%= notice %></p>

<%= render @twoloadfile %>

<div>
  <%= link_to "Edit this twoloadfile", edit_twoloadfile_path(@twoloadfile) %> |
  <%= link_to "Back to twoloadfiles", twoloadfiles_path %>

  <%= button_to "Destroy this twoloadfile", @twoloadfile, method: :delete %>
</div>
