<!DOCTYPE html>
<html>
  <head>
    <title>Parsertelegram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "bootstrap.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'jquery-3.6.1.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.bundle.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "items.js", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Главная</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Группы</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/mygroups">Все группы</a></li>
          <li><a class="dropdown-item" href="/dopmygroups">Доп поля по группам</a></li>

          <li><a class="dropdown-item" href="#">Категории</a></li>
          <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Заглушка</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Сборщик</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/loadfiles">1. Загрузить файл для прогона </a></li>
          <li><a class="dropdown-item" href="/wfiles">1. Прогон по файлу дата</a></li>
          <li><a class="dropdown-item" href="/twoloadfiles">2. Загрузить файл для прогона без прогона</a></li>
          <li><a class="dropdown-item" href="/workdbpage">2. прогон по файлу по сайту t.me</a></li>
          <li><a class="dropdown-item" href="/workdbavto">2. debag прогон по файлу по сайту t.me</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Заглушка</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Заглушка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Заглушка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Заглушка</a>
      </li>
    </ul>
  </header>
  <div class="container">
    <div class="row">
      <div class="col">
      <%= yield %>
      </div>
    </div>
   </div>
  </body>
</html>
